1-billion-word-language-modeling-benchmark-r13output
1-billion-word-language-modeling-benchmark-r13output.tar.gz
classes.sorted.txt
classes.txt
questions-phrases.txt
questions-words.txt
res.txt
text8
vectors.bin